body {
  font-family: 'Quicksand', sans-serif;
}

#left, #right {
  width: 400px;
}

#center, .inline-button {
  width: 600px;
}

#main {
  display: flex;
  justify-content: center;
}

#highscore {
  position: relative;
  bottom: 470px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inline-button {
  display: flex;
  justify-content: space-around;
}

h3 {
  text-align: center;
}

div {
  border: solid black 0.5px;
}

#saved-games, #highscore {
  text-align: center;
}

.savedgamelist {
  color: blue;
  text-decoration: underline;
}

.savedgamelist:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 0 gainsboro;
}

.hidden {
  display: none;
}

#target-form-board {
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

#game-board {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.cell {
  border: solid rgba(0,0,0,0.2) 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alive {
  background-color: black;
}

.dead {
  background-color: white;
}

