body {
  font-family: 'Quicksand', sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

h1 {
  margin: 20px 0;
}

#game-board {
  height: 800px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.cell {
  border: solid rgba(0,0,0,0.2) 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alive {
  background-color: black;
}

.dead {
  background-color: white;
}

